# Test files
src/main/java/RaceConditionTest.java
src/main/java/ConcurrencyTest.java

# IDE files
.DS_Store
target/
*.class

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
